 <!-- Product section-->
 <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-4"><img class="card-img-top mb-5 mb-md-0"  [src]="productData.image" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">{{productData.category}}</div>
                <h1 class="display-5 fw-bolder">{{productData.title}}</h1>
                <div class="fs-5 mb-5">
                  
                    <span>${{productData.price}}</span>
                </div>
                <p class="lead">{{productData.description}}</p>
                <div class="d-flex">
                    <!-- <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> -->
                    <button (click)="addtowishlist()" class="btn btn-outline-dark flex-shrink-0 me-3" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        <i class="fa-solid fa-heart "></i>
                        Wishlist
                    </button>
                    <button (click)="addtocart(productData)" class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        <i class="fa-solid fa-cart-plus"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>